@use "../../sass/abstracts/" as *;

.container {
  padding-left: 15px;
  h3 {
    font-family: $font-2;
    color: $color-grey-scale-grey-0;
    font-size: 28px;
    font-weight: 600;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: left;
    padding: 20px 0;
  }
  li {
    font-family: $font-2;
    font-size: $heading-4-600;
    color: $color-grey-scale-grey-3;
    font-size: 20px;
    font-weight: 500;
    line-height: 25px;
    letter-spacing: 0em;
    text-align: left;
    padding-left: 10px;
  }
}
