@use "../../sass/abstracts/variables" as *;

.container {
  display: flex;
  overflow: auto;
  margin: 0 auto;
  padding: 10px;
  gap: 12px;

  width: 80%;
  margin-top: 20px;
}

@media (min-width: 769px) {
  .container {
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    padding: 20px;
    justify-content: space-around;
  }
}
