@mixin buttonColors($bg-color, $text-color) {
  background-color: $bg-color;
  color: $text-color;
}
@mixin buttonBasic(
  $border,
  $radius,
  $padding-mobile,
  $font-size-mobile,
  $padding-desktop,
  $font-size-desktop
) {
  border: $border;
  border-radius: $radius;
  padding: $padding-mobile;
  font-size: $font-size-mobile;

  @media (min-width: 769px) {
    padding: $padding-desktop;
    font-size: $font-size-desktop;
  }
}
@mixin inputBasic($bg-color, $border, $radius) {
    padding: 13px 16px;

    width: 100%;
    max-width: 277px;

    font-size: 1rem;
    font-weight: 400;

    background-color: $bg-color;

    border: $border;
    border-radius: $radius;
    outline: 0;
}
@mixin textareaBasic($bg-color, $border, $radius) {
    padding: 13px 16px;

    width: 100%;
    max-width: 277px;

    font-size: 1rem;
    font-weight: 400;

    background-color: $bg-color;

    border: $border;
    border-radius: $radius;

    outline: 0;
    resize: none;
    overflow-y: scroll;
}
