$heading-1-700: 2.75rem;
$heading-2-600: 2.25rem;
$heading-3-600: 2rem;
$heading-3-500: 2rem;
$heading-4-600: 1.75rem;
$heading-4-500: 1.75rem;
$heading-5-600: 1.5rem;
$heading-5-500: 1.5rem;
$heading-6-600: 1.25rem;
$heading-6-500: 1.25rem;
$heading-7-600: 1rem;
$heading-7-500: 1rem;

$body-1-600: 1rem;
$body-1-400: 1rem;
$body-2-600: 0.875rem;
$body-2-500: 0.875rem;

$button-big-text: 1rem;
$button-medium-text: 0.875rem;

$input-placeholder: 1rem;
$input-label: 0.875rem;
