// colors
$color-feedback-alert-1: #cd2b31;
$color-feedback-alert-2: #fdd8d8;
$color-feedback-alert-3: #ffe5e5;
$color-feedback-sucess-1: #18794e;
$color-feedback-sucess-2: #ccebd7;
$color-feedback-sucess-3: #ddf3e4;
$color-random-random-1: #e34d8c;
$color-random-random-2: #c04277;
$color-random-random-3: #7d2a4d;
$color-random-random-4: #7000ff;
$color-random-random-5: #6200e3;
$color-random-random-6: #36007d;
$color-random-random-7: #349974;
$color-random-random-8: #2a7d5f;
$color-random-random-9: #153d2e;
$color-random-random-10: #6100ff;
$color-random-random-11: #5700e3;
$color-random-random-12: #30007d;
$color-brand-brand-1: #4529e6;
$color-brand-brand-2: #5126ea;
$color-brand-brand-3: #b0a6f0;
$color-brand-brand-4: #edeafd;
$color-grey-scale-grey-0: #0b0d0d;
$color-grey-scale-grey-1: #212529;
$color-grey-scale-grey-2: #495057;
$color-grey-scale-grey-3: #868e96;
$color-grey-scale-grey-4: #adb5bd;
$color-grey-scale-grey-5: #ced4da;
$color-grey-scale-grey-6: #dee2e6;
$color-grey-scale-grey-7: #e9ecef;
$color-grey-scale-grey-8: #f1f3f5;
$color-grey-scale-grey-9: #f8f9fa;
$color-grey-scale-grey-10: #fdfdfd;
$color-colors-fixed-white-fixed: #ffffff;

// typography
$heading-1-700: 2.75rem;
$heading-2-600: 2.25rem;
$heading-3-600: 2rem;
$heading-3-500: 2rem;
$heading-4-600: 1.75rem;
$heading-4-500: 1.75rem;
$heading-5-600: 1.5rem;
$heading-5-500: 1.5rem;
$heading-6-600: 1.25rem;
$heading-6-500: 1.25rem;
$heading-7-600: 1rem;
$heading-7-500: 1rem;

$body-1-600: 1rem;
$body-1-400: 1rem;
$body-2-600: 0.875rem;
$body-2-500: 0.875rem;

$button-big-text: 1rem;
$button-medium-text: 0.875rem;

$input-placeholder: 1rem;
$input-label: 0.875rem;

// weights
$bold-weight: 700;
$semi-bold-weight: 600;
$medium-weigth: 500;
$regular-weigth: 400;
$light-weigth: 300;

// radius
$button-radius: 4px;

//fonts
$font-family-1: "Inter", sans-serif;
$input-radius: 4px;

// layout
$layout-medium: 769px;


$input-radius: 4px;