@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;

.basicTextAreaWithBorder {
  @include textareaBasic(
    $color-grey-scale-grey-10,
    1.5px solid $color-grey-scale-grey-7,
    $input-radius
  );
  min-height: 80px;
  min-width: 276px;
}
.darkertextAreaWithBorder {
  @include textareaBasic(
    $color-grey-scale-grey-8,
    1.5px solid $color-grey-scale-grey-7,
    $input-radius
  );
  min-height: 80px;
  min-width: 274px;
}
