@use "../../sass/abstracts/variables" as *;

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px 8px;
    border-radius: 4px;
    font-size: $body-2-500;
    font-weight: 500;
    background-color: $color-brand-brand-4;
    color: $color-brand-brand-1;
  }