@use "../../../sass/abstracts/variables" as *;

.container__sellerSection {
  display: flex;
  flex-direction: column;
  gap: 2rem;

  padding: 1rem;

  position: absolute;
  top: 146px;

  margin: 0 1rem;

  border-radius: 10px;

  background-color: $color-grey-scale-grey-8;
}

.container__sellerDivName {
  background-color: $color-brand-brand-1;
  color: $color-colors-fixed-white-fixed;

  width: 25px;
  height: 23px;

  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
}

.container__sellerDivName > h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.container__sellerSection > p {
  font-size: 1rem;
  color: $color-grey-scale-grey-2;
  font-family: $font-family-1;
}

.container__divSellerType {
  display: flex;
  gap: 1rem;
}

.container__divSellerType > h2 {
  font-size: 1rem;
  font-weight: 600;
}

.container__divSellerType > span {
  font-size: 0.7rem;

  background: $color-grey-scale-grey-5;
  color: $color-brand-brand-1;

  padding: 0.3rem;
  border-radius: 3px;
}

.container__sellerSection > button {
  width: 50%;
  height: 40px;

  font-size: 1rem;

  color: $color-brand-brand-1;

  border: 1px solid $color-brand-brand-1;
  border-radius: 4px;
}
