@use "../../sass/abstracts/variables" as *;

.container {
  color: $color-grey-scale-grey-2;

  .text {
    margin: 12px 0;
  }
}

.container__divButtonPatch > button {
  background: transparent;
  border: none;
}
