@use "../../sass/abstracts/variables" as *;

.container__sellerMain {
  margin-top: 5rem;
  height: 125vh;
}
.title {
  font-family: $font-family-2;
  font-size: $heading-6-600;
  font-weight: $bold-weight;
  width: 80%;
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 30px;
  margin-top: -50px;
}

.container__sellerMain > div {
  background-color: $color-brand-brand-1;
  padding-top: 80px;
  height: 200px;
}

.box {
  margin-bottom: 140px;
}
