@use "../../sass/abstracts/variables" as *;

.container__sellerMain {
  margin-top: 5rem;
  height: 125vh;
}

.container__sellerMain > div {
  background-color: $color-brand-brand-1;

  height: 200px;
}
