@use "../sass/abstracts/variables" as *;
@use "../sass/abstracts/mixins" as *;

.button {
    border: none;
    border-radius: 4px;

    padding: 12px 20px;

    font-size: $button-medium-text;

    @media (min-width: 769px) {
        padding: 12px 28px;
        font-size: $button-big-text;
    }
}
.purpleButton {
    @include button($color-brand-brand-2, $color-colors-fixed-white-fixed)
}
.pinkButton {
    @include button($color-random-random-1, $color-colors-fixed-white-fixed)
}
