@use "../../sass/abstracts/variables" as *;

.container__footer {
  width: 100%;
  height: 140px;
  background-color: $color-grey-scale-grey-0;
  position: relative;
  font-family: $font-family-1;
  display: flex;
  justify-content: center;

  @media (max-width: $layout-medium) {
    height: 310px;
  }

  div {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 90%;
    color: $color-colors-fixed-white-fixed;

    @media (max-width: $layout-medium) {
      flex-direction: column;
      width: 100%;
      height: 80%;
      margin-bottom: 30px;
    }
  }

  h2 {
    font-size: $heading-5-600;
  }

  span {
    font-size: $body-1-400;
  }

  p {
    font-size: $body-2-500;
    font-weight: $regular-weight;
  }

  button {
    background-color: $color-grey-scale-grey-1;
    height: 53px;
    width: 50px;
    border-radius: 4px;
    border: none;
    color: $color-colors-fixed-white-fixed;
    cursor: pointer;
  }
}
