@use "../../../sass/abstracts/variables" as *;

.divInputSection {
    width: 100%;
    max-width: 310px;

    &:has(input:focus) {
        border: 2px solid $color-brand-brand-2;
        border-radius: 4px;

        input {
            border: 0;
        }
    }
    &:has(textarea:focus) {
        border: 2px solid $color-brand-brand-2;
        border-radius: 4px;
        textarea {
            border: 0;
        }
    }
}
