@use "../../sass/abstracts/variables" as *;

.container,
.loginContainer {
  margin: 0 auto;
  margin-top: 120px;
  margin-bottom: 60px;
  width: 411px;
  height: 1600px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: antiquewhite;
  border-radius: 4px;

  form {
    padding-top: 40px;
    margin: 0 auto;
    background-color: aliceblue;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  h1 {
    font-size: $heading-5-500;
    font-weight: $semi-bold-weight;
  }

  p {
    color: $color-grey-scale-grey-1;
    font-weight: $semi-bold-weight;
    font-size: $input-label;
    margin: 30px 0px 5px;
  }

  button {
    margin-top: 30px;
  }
}

.divAddress {
  display: flex;
  flex-direction: row;
  gap: 8px;
  width: 315px;

  div {
    display: flex;
    flex-direction: column;
    input {
      width: 150px;
    }
  }
}

.divButtons {
  display: flex;
  gap: 10px;
  button {
    width: 156px;
  }
}

.loginContainer {
  height: 542px;
  background-color: aliceblue;
}
