@use "../../sass/abstracts/variables" as *;
@use "../../sass/abstracts/mixins" as *;

.link {
  margin-top: 10px;
  cursor: pointer;
  font-size: $body-2-400;
  font-weight: $regular-weight;

  color: $color-grey-scale-grey-2;
  text-align: end;
}

.link:hover {
  text-decoration: underline;
  color: $color-random-random-6;
}

.resetForm,
.loginContainer,
.registerContainer {
  h1 {
    font-size: $heading-5-500;
    font-weight: $semi-bold-weight;
    margin-bottom: 32px;
  }
  .subtitleRegister {
    font-size: $body-2-500;
    font-weight: $medium-weight;

    margin: 32px 0;
  }

  form {
    width: 90%;
    max-width: 343px;

    background-color: $color-grey-scale-grey-10;

    margin: 120px auto 0;

    display: flex;
    flex-direction: column;
    align-items: left;

    border-radius: $form-radius;

    > div {
      padding: 44px 28px;

      .inputsSection {
        display: flex;
        flex-direction: column;
        gap: 50px;

        > section {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }

      .inputsSectionRegister {
        display: flex;
        flex-direction: column;
        gap: 24px;

        > section {
          display: flex;
          flex-direction: column;
          gap: 8px;
        }
      }

      > .linkPassword {
        margin: 10px 10px 0 0;

        color: $color-grey-scale-grey-2;

        text-align: end;
        font-weight: $medium-weight;
        font-size: $body-2-500;
      }

      .buttonsSection {
        margin-top: 20px;

        display: flex;
        flex-direction: column;
        gap: 20px;
      }
      .buttonsSectionRegister {
        margin-top: 28px;

        display: flex;
        flex-direction: column;
        max-width: 280px;
      }

      .textBetweenButtons {
        font-size: $body-2-400;
        font-weight: $regular-weight;

        color: $color-grey-scale-grey-2;
        text-align: center;
      }
    }
  }
}

.divAddress {
  display: flex;
  flex-direction: row;
  gap: 8px;

  width: 98%;
  max-width: 280px;

  > section {
    width: 140px;

    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.divButtons {
  display: flex;
  gap: 8px;

  width: 98%;
  max-width: 280px;

  margin-bottom: 28px;

  > button {
    width: 152px;

    padding: 0;

    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
  }
}

.loginContainer {
  padding-bottom: 60px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;


}

.modalContainer {
  border-radius: $modal-radius;
  width: 100%;
  max-height: 80vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  form {
    width: 100%;

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 24px;

    .inputsSectionModal {
      display: flex;
      flex-direction: column;
      gap: 24px;

      > section {
        display: flex;
        flex-direction: column;
        gap: 8px;
      }

      > button {
        width: 100%;
        max-width: 315px;

        font-size: $button-medium-text;

        padding: 12px 0;
      }

      .finalButtonsDivModal {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        margin-right: 20px;
      }
    }

    input {
      max-width: 100%;
    }

    select,
    textarea {
      width: 98%;
      max-width: 490.59px;

      color: $color-grey-scale-grey-3;
    }

    textarea {
      padding: 0;

      min-width: 0;
    }
  }

  h2 {
    width: 100%;

    font-size: $body-2-500;
    font-weight: $medium-weight;
  }
  .inputsInRow {
    display: flex;
    flex-direction: row;
    gap: 8px;

    width: 98%;
    max-width: 100%;

    > section {
      display: flex;
      flex-direction: column;
      gap: 8px;

      width: 50%;
    }
  }

  button {
    font-weight: $bold-weight;
  }
}

.brand1Button {
  width: 100%;
  @include buttonBasic(
    none,
    $button-radius,
    12px 20px,
    $button-medium-text,
    12px 28px,
    $button-big-text
  );
  @include buttonColors($color-brand-brand-1, $color-colors-fixed-white-fixed);
}


.resetForm {
  padding-bottom: 60px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  font-size: 1.1rem;
  text-align: justify;

  h2{
    font-size: 1.5rem;

  }

  form{
    margin-top: 50px;
    div{
      padding: auto;
      display: flex;
      flex-direction: column;
      gap: 0;

      padding: 20px 28px;
      div{
        margin-top: 0px;
        padding: auto;
      }
    }
  }

  input{
    width: 97%;
    margin-top: 10px;
    height: 40px;
    font-size: 1.2rem;
  }

 

}




